<style>
    div{
        background-color: lightblue;
    }

</style>
<br><div class="container">
    <h1>Um pouco sobre nossa história</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam commodo pulvinar urna, eget porttitor sem accumsan et. Donec ut lobortis justo. Donec egestas, augue sit amet rhoncus vulputate, libero augue efficitur dolor, vel scelerisque ante leo nec massa. Donec feugiat sapien quis ante tempus scelerisque. Nam sed sagittis nisl. Morbi convallis risus et orci malesuada dictum. Duis ac imperdiet orci, quis fermentum felis. Nullam venenatis ultrices ex. Nunc non turpis orci. In ut neque sed nisl tristique faucibus sed semper mi. Donec cursus condimentum ultrices. Aliquam imperdiet eros ac ante finibus interdum. Sed commodo eros nec aliquet rhoncus.

        Sed nec ultricies nunc, tempus laoreet ex. Etiam sit amet tincidunt augue, sit amet accumsan diam. In commodo imperdiet pellentesque. Integer tristique id dui ac venenatis. Maecenas tempor tempus aliquam. Suspendisse quis imperdiet metus, id vestibulum magna. Fusce volutpat mi nulla, sit amet cursus libero luctus eget. Maecenas a fringilla ligula. Praesent sed nunc pulvinar, placerat ligula vitae, ultrices quam. Cras porta condimentum elit, sit amet scelerisque est varius quis. Phasellus ut arcu vel tortor bibendum consequat sit amet eu sapien. In lobortis congue nibh luctus ornare. Sed non nibh urna.
        
        Generated 2 paragraphs, 189 words, 1264 bytes of Lorem Ipsum</p>
    </div>